.css-n6dxc2{
    background: #2189d8;
    border-radius: 20px;
    width: min(100% - 2rem);
    margin: 10px auto;
    padding: 10px !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.css-0{
    
}